body{
    background-color: #ffeedd;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: lighter;
}
 #subheading
 {
 color: indigo;
}
.flex-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.container
{
   display:flex;
    max-width:500px;
    height: 170px;
    margin : 10px;
    border-radius: 10px;
    background: white;
}
.container:hover{
  box-shadow: 0 5px 15px 2px rgba(117, 88, 88, 0.5);
}
.box
{
    position: relative;
    top: 40px;
    padding: 3px;
    text-align : center;
}
.box p{
    color: grey;
}
.content
{
    flex: 3;
    background-color: rgba(223, 222, 222, 0.788);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:0 15px 0 15px;
    top: 0px;
     text-align: justify;
     position: relative;

}
.content h3 {
    font-weight: lighter;
    color: rgb(141, 141, 141);
    text-align: initial;
}

.content p{
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
  }
.fa-trash
 {

     position:absolute;
     color: lightslategray;
     font-weight: 900;
     cursor: pointer;
     top: 20px;
     right: 20px;
 }
 .fa-ellipsis-h
 {
   position: absolute;
   right: 20px;
   color: lightslategray;
   top: 140px;
   cursor: pointer;
 }
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 23%;
    height: 18%;
    position: relative;
    top: 20%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.modal-content div{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}
.yesDelete
{
    background-color: rgb(87, 177, 87);
    text-align: center;
    width: 22%;
    height: 23%;
    font-size: large;
    color: white;
    position: absolute;
    top: 100px;
}

.noDelete
{
    background-color: rgba(235, 46, 46, 0.795);
    text-align: center;
    width: 22%;
    height: 23%;
    font-size: large;
    color: white;
    right: 22px;
    position: absolute;
    top: 100px;
}

.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: sans-serif;
    font-weight: lighter;
  }

  /* Modal Content */
  .modals-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 20%;
    display: block;

  }

  /* The Close Button */
  .closes, .closes1 {
    color: #aaaaaa;
    float: right;
    float: inline-end;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 3px;

  }

  .closes:hover,
  .closes:focus,
  .closes1:hover,
  .closes1:focus  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .forms-control{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .forms-control:focus{
    background-color: #ddd;
  outline: none;

  }
  .modals-header {
    border-bottom: 1px solid grey;
    text-align: start;
    width: 97%;
    padding: 0px 0xp 5px 0px;
  }
  .modals-header h2{
      margin: auto;
      color: gray;
      font-weight: lighter;
  }
  form{
      margin-top: 1em;
  }
  .modals-footer {
    padding: 2px 16px;
  }
